[Unit]
Description=Service for logging temprature, humidity and atmospheric pressure

[Service]
User=root
WorkingDirectory=/home/GNSS_py/
ExecStart=python3 /home/GNSS_py/bme_read.py
Restart=on-abnormal


[Install]
WantedBy=multi-user.target

