[Unit]
Description=Service for logging soil moisture from sensor

[Service]
User=root
WorkingDirectory=/home/GNSS_py/
ExecStart=python3 /home/GNSS_py/sm.py
Restart=on-abnormal


[Install]
WantedBy=multi-user.target