[Unit]
Description=Service for logging gnss raw data

[Service]
User=root
WorkingDirectory=/home/GNSS_py/
ExecStart=python3 /home/GNSS_py/skytraq_read.py
Restart=on-abnormal


[Install]
WantedBy=multi-user.target
